<mat-progress-bar *ngIf="(signupStatus$ | async) === status.Busy" mode="query" ></mat-progress-bar>
<div class="bg-gradient-primary centre">
    <div class="container">
  
      <!-- Outer Row -->
      <div class="row justify-content-center">
  
        <div class="col-xl-10 col-lg-12 col-md-9">
  
          <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
              <!-- Nested Row within Card Body -->
              <div class="row">
                <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                <div class="col-lg-6">
                  <div class="p-5">
                    <div class="text-center">
                      <h1 class="h4 text-gray-900 mb-4">Welcome</h1>
                    </div>
                    <form class="user" [formGroup]="suForm" (ngSubmit)="onSubmit()">
                      <div class="form-group">
                          <mat-form-field class="full-width">
                            <input formControlName="suEmail" matInput placeholder="Email">
                            <mat-error *ngIf="suForm.get('suEmail').hasError('required')">Please enter your email address
                            </mat-error>
                            <mat-error *ngIf="suForm.get('suEmail').hasError('email')">Please enter a valid email address
                            </mat-error>
                        </mat-form-field>
                      </div>
                      <div class="form-group">
                          <mat-form-field class="full-width">
                            <input type="password" formControlName="suPassword" matInput placeholder="Password">
                            <mat-error *ngIf="suForm.get('suPassword').hasError('required')">Please enter your password
                            </mat-error>
                        </mat-form-field>
                      </div>
                      <div class="form-group">
                        <mat-form-field class="full-width">
                          <input type="password" formControlName="suConfirmPassword" matInput placeholder="Confirm Password">
                          <mat-error *ngIf="suForm.get('suConfirmPassword').hasError('required')">Confirm your password
                          </mat-error>
                          
                      </mat-form-field>
                      <p class="invalid" *ngIf="(arePasswordsSame$ | async) === false || (passwordCheck$ | async) === false">
                        The passwords supplied do not match, Enter the same password to proceed.
                      </p>
                    </div>
                      <button type="submit" [disabled]="!suForm.valid" class="btn btn-primary btn-user btn-block">
                        Register
                      </button>
                      <span></span>
                    </form>
                    <div class="text-center" *ngIf="(signupStatus$ | async) === status.Failed">
                        <p class="invalid">Oops something went wrong during registration, please try submitting again.</p>
                        <p class="invalid">If the problem persist please email <a href="#">dazzletechnologies@support.com</a> or give us a call on <a href="#">074 647 7427</a>.</p>
                    </div>
                    <hr>
                    <div class="text-center">
                      <a class="small" href="" [routerLink]="['../home']"
                        routerLinkActive="router-link-active">Dashboard</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
        </div>
  
      </div>
  
    </div>
  </div>