

::ng-deep body{
    background: linear-gradient(93deg,#fff 50%,#fff 50%,#fff 100%);
    background-size: cover;
  }

  .centre{
    padding: 20vh 0;
  }

  .example-h2 {
    margin: 10px;
  }
  
  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  
  .example-margin {
    margin: 0 10px;
  }
  

  .invalid{
    color: red;
  }

  .full-width {
    width: 100%;
}